*{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}
body{
    background: #f1f3f8;
}
nav{
    border-bottom:3px solid #393b44;
    height:auto;}
    
    /* padding:2rem; */
    /* background-image: url('logo.png'); */
    /* background-size: contain; */
    /* background-repeat: no-repeat; */
   


#agrupar{
    width:90%;
    margin:15px auto;
}
.linea{
    height: 3px;
    width:100%;
    background: #393b44;
}
nav .ul{
    /* float:right; */
    /* margin-top: -15px; */
    text-align:center;
    margin:2rem;
    
    
}

nav li{
    display:inline;
    margin:0 2rem;
    
    padding:0.5rem;
    transition:all 0.5s ease;
    border:2px solid  #393b44;
    border-radius: 5px;
    /* margin-top:1rem; */
}

nav .ul li a{
    transition:all 0.5s ease;
    font-size:18px;
    color: #393b44;
}
nav .ul li a:hover{
    color:#393b44;
}


nav .ul li:hover{
    background:#d6e0f0;
}
nav .ul li:hover .inicio{
    background:none!important;
}


nav a{
    color:white;
   text-decoration:none;
}
.logo{height:4rem;
width:4rem;
/* margin-top:4px; */
border-radius: 50%;}
section{
    margin:5px;
}
.seccion{
    float:left;
    width:60%;
    border:1px solid #393b44;
    padding:10px;
    margin:25px 5px;
    background:#d6e0f0;
    border-radius: 5px;
}
.h1{
    font-size: 2.5rem;
    color:#393b44;
    letter-spacing: 15px;
    margin:1rem;
    text-align: center;
    text-shadow: 5px 5px 8px  rgba(0, 0, 0, 0.879),-1px -1px 1px  rgba(0, 0, 0, 0.879); 
    
}
.p{
    font-size:1rem;
    color:#393b44;
    text-align: center;
    margin:0;
    line-height: 1.2;
    /* border:1px solid white; */
}
.pequenio{
    color:#393b44;
    font-size:14px;
  
    letter-spacing: 2px;
    text-align: center;
    line-height: 1.2;
}
    

.aside{

   
    float:left;
    height: 380px;
    text-align: center;
    padding:2rem;
    width:20%;
    overflow: hidden;
    margin:0;
    margin:28px 0px 0px 50px;
    /* background: none; */
    border:1px solid #393b44;
    border-radius: 5px;
}
.aside p{
    line-height: 2;
    color:#393b44;
    
}
.aside h1{
    color:#393b44;
    text-decoration: underline;
}
.img-container{
    background:white;
    display:block;
width:40%;
margin:20px 0px 0px 30%;
border-radius: 10px;}

.img-container img{
    width:100%;
}

.historia{
    color:#393b44;
    clear:both;
    /* width: 50%; */
    border: 1px solid #393b44;
    background: #d6e0f0;
    border-radius: 5px;
}
.historia span{
    font-size:30px;
    color: #8d93ab;
    display:inline;
    margin:10px;
    text-decoration: underline;
}
.historia p{
    margin-bottom:10px;
    margin-left:80px;
    margin-top:10px;
}
.historia .fila {
    /* border:1px solid white; */
    margin:35px 10px;
   
}
.links{
    clear:both;
    border:1px solid #393b44;
    margin-top:25px;
    background:#d6e0f0;
    border-radius: 5px;
}

.links-container{
    text-align:center;
}
.links-container ul li{
    list-style: none;
    margin:70px;
    transition: all 0.5s ease;
    
    
}
.links-container a{
    color:#393b44;
    background: #f1f3f8;
    padding:15px;
    border-radius: 15px;
    text-decoration:none;
    transition:all 0.5s ease;
    border: 1px solid #393b44;
    
}
.links-container a:hover{
    background:#009de0;
    color:#f1f3f8;
    
}
.links-container li:hover{
    transform: translateY(-10px);
    
}
.fotos{
   
        /* clear:both;  */
        border:1px solid #393b44;
        margin-top:25px;
        width:99%;
        margin-bottom:25px;
        background:#d6e0f0;
        border-radius: 5px;
    
}
.fotos img{
    width:200px;
    height:300px;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}
.fotos img:hover{
    filter: blur(0.8px);
    transform:skew(15deg);

}
.foto{
margin:2rem;
margin-left:3.8rem;
}
figcaption{
    margin:5px;
    text-align:center;
    color:#393b44;
}

footer{
    height: 52px;
    background:#d6e0f0;
    /* margin-top:40%; */
    clear: both;
    text-align: right;
    border-top:1px solid #393b44;
}
footer p{
    color:black;
    font-size:14px;

}


/* transition  */
.slideRight{
    position:relative;
    transition-property: left;
    transition-duration:8s;
    transition-timing-function: linear;
    margin-bottom:10px;
    margin-top:-5px;
    left:-2%;
    width:30px;
    height:30px;
    
}
.slideLeft{
    position:relative;
    transition-property: left;
    transition-duration:8s;
    transition-timing-function:linear;
    margin-bottom:10px;
    margin-top:-5px;
    left:100%;
    width:30px;
    height:30px;
}
.fila1texto{
    display:none;
}


a.span1:active a.span1:visited{
    color:red;
}